@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  background-color: rgb(9, 25, 47);
  position: relative;
}

* {
  box-sizing: border-box;
}

.profile-img {
  filter: grayscale(80%);
  filter: brightness(0.5);
}

.profile-img:hover {
  transform: scale(1.05);
  filter: grayscale(0);
  filter: brightness(1);
  box-shadow: 10px 10px 3px 0 rgb(0, 255, 255);
}

.navBtn {
  @apply p-1 border-2 rounded-md border-solid border-transparent hover:border-cyan-400 transition-all duration-100 hover:text-cyan-300 focus:bg-cyan-700;
}

/* .navBtn:active {
  @apply bg-slate-600;
} */

.btn {
  @apply rounded-md border-2 border-cyan-300 px-4 py-3 text-sm text-cyan-300 transition-all duration-200;
}

.btn:hover {
  box-shadow: 3px 3px 0 0 rgba(70, 254, 255, 1);
  transform: translate(-4px, -4px);
  font-weight: 600;
}

.submit-btn {
  @apply mt-6 rounded-lg border-none bg-cyan-800 px-4 py-3 text-xs font-bold uppercase tracking-wider text-gray-300 outline-none transition-all duration-500 hover:bg-cyan-600 hover:text-gray-400 hover:shadow-sm hover:shadow-slate-600;
}

.media-btn {
  @apply mx-3 text-xl transition-all duration-500 hover:-translate-y-1.5 hover:text-cyan-400 lg:mb-6;
}

.menu-btn {
  @apply fixed bottom-0 right-0 top-0 z-30 flex h-screen flex-col items-center justify-center overflow-hidden bg-slate-900 transition-all duration-500 md:relative md:top-0 md:h-fit md:w-4/5 md:flex-row md:justify-end md:bg-transparent md:py-2 md:pl-4;
}

.body-scroll {
  @apply fixed left-0 top-0 z-50 h-full w-full;
}

.tooltips {
  @apply relative;
}

.tooltips-text-left,
.tooltips-text-right {
  @apply absolute z-50 hidden rounded-sm bg-cyan-600 px-3 py-1 text-xs text-gray-200 transition-all duration-300 lg:invisible lg:block;
}

.tooltips-text-left::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent rgb(8 145 178);
}

.tooltips-text-right::after {
  content: "";
  position: absolute;
  left: -15px;
  top: 5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent rgb(8 145 178) transparent transparent;
}

.tooltips:hover .tooltips-text-left {
  @apply visible;
}

.tooltips:hover .tooltips-text-right {
  @apply visible;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 0 44px;
  background-color: rgba(9, 25, 47, 0.959);
  border-bottom: 1px solid rgba(0, 255, 255, 0.082);
}

.body-fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* form checkbox style */
.form-label {
  @apply relative my-2 ml-4 inline-block select-none text-sm text-gray-200;
}

.form-input {
  @apply absolute h-0 w-0 opacity-0;
}

.checkmark {
  @apply absolute left-0 top-0 h-4 w-4 cursor-pointer rounded-sm border-2 border-gray-100 bg-gray-500;
}

.checkmark:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 0;
  width: 6px;
  height: 10px;
  border: solid rgb(243, 240, 240);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}

.form-label input:checked ~ .checkmark:after {
  display: block;
}

.lang-btn {
  display: flex;
  flex-wrap: wrap;
  row-gap: 4px;
  column-gap: 2px;
}

#about {
  @apply scroll-mt-56;
}

#work {
  @apply scroll-mt-60;
}

#contact {
  @apply scroll-mt-36;
}

#about-text {
  @apply text-gray-200 text-sm;
}

/* Archive buttons styling */
.active {
  @apply bg-cardHover;
}

.active-bar {
  @apply w-16 h-[2px] bg-cyan-500;
}

.active-text {
  @apply text-cyan-500;
}

.active-project-btn {
  @apply bg-cardHover text-cyan-400 animate-pulse;
}

/* .all {
  @apply relative
  animation-name: project;
  animation-duration: 2s;
}

@keyframes project {
  from {
    left: -100px;
  }
  to {
    left: 0;
  }
} */
